@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

:root {
    --main-white: #f0f0f0;
    --main-peru: peru;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-green: green;
    --main-silver: #C0C0C0;
    --main-teal: #008080;
    --main-black: black;
    --main-light-turquoise: #AFEEEE;
    --main-BlanchedAlmond: #FFEBCD;
    --main-purple: #6665dd;

}
* {
    font-family: 'Baloo Chettan 2', cursive;
}
/* thanh navbar */
.navbar {
    position: fixed;
    top: 12px;
    right: 30px;
    border-radius: 10px;
    z-index: 10;
}
.navbar a {
    border-radius: 10px;
    display: block;
    font-size: 20px;
}

.navbar-nav a:hover {
    background: #9b9ece;
}
/*thanh navbar*/

header {
    width: 100%;
    height: 80vh;
    background-image: url("../images/header4.jpg");  
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
/* nút tổng */
.btn {
    margin-top: 5vmax;
    font-size: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    color: #6665dd;
}
.btn a {
    text-decoration: none;
    color: #6665dd;
}
/* phần giới thiệu header */
.header-text > p {
    font-size: 20px ;
    color: #6665dd;
    position: absolute;
    top: 15vmax;
    left: 6vmax;
    right: 6vmax;
    font-style: italic;
    font-weight: 700;    
}
/* JeJu Island */
.header-text > h1 {
    font-size: 150px ;
    color: var(--main-purple);
    position: absolute;
    text-align: center;
    top: 10vh;
    left: 35vw;
    text-shadow: 2px 2px 1px #1f1f1f ;
    font-family: 'Ceviche One', cursive;
}
/* phần mục chính */
.island-section {
    background:#e9f1f7;
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;  
}
/* giới thiệu của mục chính */ 
.island-section-header h2{
    color: #6665dd;
    font-weight: 700;
    font-size: 60px;
    margin-top: 0;
    position: absolute;
    top: 10vh;
    right: 40vh;
    text-shadow: 2px 2px 1px #1f1f1f;   
}
/* tổng thẻ */
.card-title {
    font-weight: 700;
    font-size: 20px;
    color:#6665dd;
}
/* tên thẻ */
.card-body a {
    text-decoration: none;
    color: #6665dd;
    
}
/* thẻ chính */
.card {
    display: flex;
    width: 16vw;
    border-radius: 40px;
    background-color: var(--main-white);
    box-shadow: 3px 3px 2px #1f1f1f;
    background-size: cover;
    transition: transform 0.3s ease-out;
}
.card:hover {
    transform: translateY(30px);
}
.card-img-top1 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 21vh;
    
}
.card-img-top2 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 21vh;
}
.card-img-top3 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 21vh;
}
.card-img-top4 {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    height: 21vh;
}
/* nút Show all */
.button1 {
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    position: absolute;
    
}


.contact-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}
/* ảnh nền phần contact */
.contact-section {
    background: url("../images/ocean2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* mục link */
.contact-section-links {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
    
}
/* phần h2 contact */
.contact-section-header h2 {
    color: #6665dd;
    font-weight: 700;
    font-size: 60px;
    margin-top: 0;
    position: absolute;
    top: 5vh;
    right: 40vh;
    text-shadow: 2px 2px 1px #1f1f1f;
    color: #6665dd;
    text-decoration: overline;
}
/* phần p contact */
.contact-section-header p {
    color: #6665dd;
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
    position: absolute;
    top: 35vh;
    right: 82vh;
    text-shadow: 2px 2px 1px #1f1f1f;
    text-decoration: overline;
}
/* animation cho các nút */
.details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}
.details:hover {
    transform: translateY(8px);
    color:#6665dd ;
}
@media screen and (max-width: 1023px) {
    .navbar {
    width: 40vw;
    height: 5vh;
    position: fixed;
    font-size: 12px;
    top: 12px;
    right: 30px;
    border-radius: 10px;
    z-index: 10;
    }
    .header-text > h1 {
    font-size: 70px ;
    top: 4vmax;
    left: 39vmax;
    }
    .header-text > p {
    font-size: 18px ;
    top: 15vmax;
    left: 4vmax;
    width: 80%;
    }
    .button {
    margin-top: 10vmax;     
    }
    .btn {
    margin-top: 5vmax;
    font-size: 20px;
    border-radius: 20px;   
    }
    header {
    height: 60vh;
    }
    .island-section {
    width: 100%;
    height: 100vh; 
    }
    .island-section-header h2{
    font-size: 30px;
    margin-top: 0;
    top: 5vmax;
    right: 20vmax; 
    }
    .card-title {
    font-size: 18px;
    }
    .card {
    width: 30vw;
    height: 30vh;
    }
    .button1 {
    bottom: 10px;
    }
    .contact-section {
    height: 60vh;
    }
    .contact-section-header h2 {
    font-size: 40px;
    top: 10vh;
    right: 20vmax;
    }
    .contact-section-header p {
    font-size: 30px;
    top: 20vh;
    right: 35vmax;
    }
    .details {
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .header-text > h1 {
    font-size: 70px ;
    top: 4vmax;
    left: 29vmax;
    }
    .header-text > p {
    font-size: 18px ;
    top: 15vmax;
    left: 4vmax;
    width: 80%;
    }
    .button {
    margin-top: 10vmax;     
    }
    .btn {
    margin-top: 5vmax;
    font-size: 20px;
    border-radius: 20px;   
    }
    header {
    height: 50vh;
    }
    .island-section {
    width: 100%;
    height: 100vh; 
    }
    .island-section-header h2{
    font-size: 30px;
    margin-top: 0;
    top: 5vmax;
    right: 10vmax; 
    }
    .card-title {
    font-size: 18px;
    }
    .card {
    width: 25vw;
    height: 25vh;
    }
    .button1 {
    bottom: 10px;
    }
    .contact-section {
    height: 100vh;
    }
    .contact-section-header h2 {
    font-size: 40px;
    top: 10vh;
    right: 6vh;
    }
    .contact-section-header p {
    font-size: 30px;
    top: 20vh;
    right: 30vh;
    }
    .details {
        font-size: 2rem;
    }
}
@media screen and (max-width: 479px) {
    .navbar {
    width: 40vw;
    height: 6vh;
    position: fixed;
    font-size: 12px;
    top: 12px;
    right: 30px;
    }
    .header-text > h1 {
    font-size: 50px ;
    top: 6vmax;
    left: 18vmax;
    }
    .header-text > p {
    font-size: 15px ;
    top: 15vmax;
    left: 4vmax;
    width: 80%;
    }
    .button {
    margin-top: 10vmax;     
    }
    .btn {
    margin-top: 5vmax;
    font-size: 20px;
    border-radius: 20px;   
    }
    header {
    height: 60vh;
    }
    .island-section {
    width: 100%;
    height: 160vh; 
    }
    .island-section-header h2{
    font-size: 30px;
    margin-top: 0;
    top: 5vmax;
    right: 10vmax; 
    }
    .card-title {
    font-size: 18px;
    }
    .card {
    width: 50vw;
    height: 30vh;
    left: 100px;
    }
    .button1 {
    bottom: 10px;
    }
    .contact-section {
    height: 100vh;
    }
    .contact-section-header h2 {
    font-size: 25px;
    top: 10vh;
    right: 6vh;
    }
    .contact-section-header p {
    font-size: 20px;
    top: 20vh;
    right: 20vh;
    }
    .details {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 319px) {
    .navbar {
    width: 40vw;
    height: 6vh;
    position: fixed;
    font-size: 12px;
    top: 12px;
    right: 30px;
    }
    .header-text > h1 {
    font-size: 50px ;
    top: 16vmax;
    left: 9vmax;
    }
    .header-text > p {
    font-size: 15px ;
    top: 30vmax;
    left: 4vmax;
    width: 80%;
    }
    .button {
    margin-top: 30vmax;     
    }
    .btn {
    margin-top: 5vmax;
    font-size: 20px;
    border-radius: 20px;   
    }
    header {
    height: 80vh;
    }
    .island-section {
    width: 100%;
    height: 160vh; 
    }
    .island-section-header h2{
    font-size: 25px;
    margin-top: 0;
    top: 5vmax;
    right: 1vmax; 
    }
    .card-title {
    font-size: 18px;
    }
    .card {
    width: 70vw;
    height: 30vh;
    left: 50px;
    }
    .button1 {
    bottom: 10px;
    }
    .contact-section {
    height: 100vh;
    }
    .contact-section-header h2 {
    font-size: 25px;
    top: 8vh;
    right: 3vh;
    }
    .contact-section-header p {
    font-size: 20px;
    top: 30vh;
    right: 10vh;
    }
    .details {
        font-size: 2rem;
    }
}

